{% extends 'base.html.twig' %}

{% block title %}Feedback{% endblock %}

{% block body %}
    <h1>Feedback</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ feedback.id }}</td>
            </tr>
            <tr>
                <th>Reclamation_id</th>
                <td>{{ feedback.reclamationId }}</td>
            </tr>
            <tr>
                <th>Utilisateur_id</th>
                <td>{{ feedback.utilisateurId }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ feedback.note }}</td>
            </tr>
            <tr>
                <th>Commentaire</th>
                <td>{{ feedback.commentaire }}</td>
            </tr>
            <tr>
                <th>Date_feedback</th>
                <td>{{ feedback.dateFeedback ? feedback.dateFeedback|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_feedback_index') }}">back to list</a>

    <a href="{{ path('app_feedback_edit', {'id': feedback.id}) }}">edit</a>

    {{ include('feedback/_delete_form.html.twig') }}
{% endblock %}
